.hidden{
    display: none;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.links,
figcaption,
p{
    font-family: "Montserrat", sans-serif;
}

.link{
    color: #000;
    font-weight: 500;
    line-height: 142.6%; /* 2.139rem */
    text-decoration: none; 
    font-size: 1.5rem;
    &.active{
        text-decoration: underline; 
    }

    @media (max-width: 540px) {
        font-size: 0.75rem;
    }
    
}

.navbar{
    display: flex;
    gap: 3.56rem;
    @media (max-width: 540px) {
        gap: 1.62rem;
    }
}

.top-header,
.banner,
.card-section,
.lodging{
    width: 80%;
    margin: auto;
    @media (max-width: 1100px) {
        width: 90%;
    }
    @media (max-width: 540px) {
        width: 95%;
    }
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.81rem auto 3.12rem auto;
    @media (max-width: 540px) {
        margin: 1.25rem auto 1.69rem auto;
    }
    img{
        @media (max-width: 540px) {
            width: 9.0625rem;
            height: 2.93006rem; 
        }
    }
}

.banner{
    height: 13.9rem;
    border-radius: 1.5625rem;
    background: #000; 
    position: relative;
    margin-bottom: 2.69rem;
    @media (max-width: 540px) {
        margin-bottom: 1.37rem;
        height: 6.9375rem; 
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.45;
        border-radius: 1.5625rem;
    }
    figcaption{

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #FFF; 
        font-size: 3rem; 
        font-weight: 700; 
        line-height: 142.6%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        1px 1px 0 #000000a2, 
        -1px -1px 0 #000000a2, 
        1px -1px 0 #000000a2, 
        -1px 1px 0 #000000a2;
        @media (max-width: 540px) {
            font-size: 1.5rem; 
            line-height: 100%;
        }
    }

}

.card-section{
    box-sizing: border-box;
    border-radius: 1.5625rem;
    background: #F6F6F6; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2.69rem;
    padding-top: 0.37rem;
    padding-left: 3.13rem;
    padding-right: 3.13rem;
    @media (max-width: 360px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.card-link{
    position: relative;
    margin-top: 3.13rem;
    border-radius: 0.625rem;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: 1;
        box-shadow: inset 0px -15px 50px -9px rgba(0,0,0,0.43);
      }
    
    
    @media (max-width: 360px) {
        width: 100%;
    }
}

.card{
    width: 21.25rem;
    height: 21.25rem;
    border-radius: 0.625rem; 
    overflow: hidden;
    position: relative;
    @media (max-width: 360px) {
        width: 100%;
    }
    
    .title{
        color: #FFF;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.60425rem;
        position: absolute;
        top: 16.75rem;
        left: 1.25rem;
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

footer{

    height: 11.26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #000;

    img{
        margin-top: 4.12rem;
    }
    p{
        margin-top: 1.78rem;
        font-size: 1.5rem; 
        @media (max-width:420px){
            font-size: 12px; 
        }
    }
    i{
        font-size: 1.2rem;
    }

}

.slider{
    width: 100%;
    height: 25.9375rem;
    position: relative;
    border-radius: 1.5625rem; 
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.controls{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    
    display: flex;
    justify-content: space-between;
    svg{
        width: 3rem;
        height: 5rem;
        cursor: pointer;
    }
}

.up{
    transform: rotate(90deg);
}
.right{
    transform: rotate(180deg);
}
.down{
    transform: rotate(-90deg);
}

.subtitle{
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.60425rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.tags{
    display: flex;
    gap: 0.5rem;
}

.tag{
    width: 7.1875rem;
    height: 1.5625rem; 
    border-radius: 0.625rem;
    background: #FF6060; 
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.3rem;
    overflow: hidden;
    // bordure bizarre
    // border: 1px solid #000; 
}

.lodging{

    .lodging-container{
        
        margin-top: 1.87rem;
        @media (max-width:480px){
            flex-direction: column;
        }
    }

    h2{
        color: #FF6060;
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 3.2085rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .host-rate-container{

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width:480px){
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }

    .host-infos{

        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;

        @media (max-width:480px){
            order: 2;
        }

        .host-name{
            color: #FF6060;
            text-align: right;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.60425rem;
            width: 5.8125rem;
            @media (max-width:480px){
                font-size: 12px;
                width: 4rem;
            }
        }

        img{
            border-radius: 50%;
            width: 4rem;
            height: 4rem; 
        }

    }

    .fa-star{
        
        font-size: 1.3rem;
    }
    .full{
        color: #FF6060;
    }
}

.collapse-container{
    margin-bottom: 3.12rem;
    gap: 4.75rem;
    @media (max-width:480px){
        flex-direction: column;
        gap: 1.87rem;
    }
}

.collapse{
    border-radius: 0.625rem; 
    overflow: hidden;
    width: 36.4rem;
    background-color: lighten(lightgrey ,15%);
    max-height: 20rem;
    transition: max-height 0.3s;
    @media (max-width:480px){
        width: 100%;
    }
    cursor: pointer;
    .head{
        border-radius: 0.625rem; 
        background-color: #FF6060;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.25rem;
        height: 3.25rem;
        color:  #FFF;
        p{
            color: #FFF;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.60425rem;
            @media (max-width:480px){
                font-size: 13px;
            }
        }
        svg{
            width: 1rem;
            transition: transform 0.2s;
        }
    }
}

.content{
    transition: max-height 0.3s, padding-top 0.3s,padding-bottom 0.3s;
    overflow: hidden;
    margin-top: 0;
    padding: 1rem 2rem;
    @media (max-width:480px){
        font-size: 13px;
    }
}

.collapsed{
    max-height: 3.25rem;
}

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2,
    h3,
    a{
        font-family: "Montserrat";
        margin: 0;
        margin: 8.69rem 0;
        @media (max-width:480px){
            margin: 7.06rem 0;
        }
    }

    h2{
        color: #FF6060;
        font-size: 18rem;
        font-weight: 700;
        @media (max-width:480px){
            font-size: 6rem;
        }
    }
    h3{
        color: #FF6060;
        font-size: 2.25rem;
        font-weight: 500;
        @media (max-width:480px){
            font-size: 1.125rem;
            width: 80%;
            text-align: center;
        }
    }
    a{
        color: #000;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline; 
        @media (max-width:480px){
            font-size: 0.875rem;
        }
    }

}

.collapse-section{

    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.88rem ;
    margin-bottom: 2.38rem;
    .collapse{
        width: 100%;
    }

}